html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-image: url(login.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.LoginBox{
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    color: ghostwhite;  
    background: rgba(0,0,0,0.5);
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,1);
    border-radius: 20px;
}

.LoginBox h1{   
    padding: 20px;
    font-size: 60px;
    margin-bottom: 50px;
}

.text{
    width: 100%;
    border-bottom: 2px solid;
    margin-bottom: 20px;
    padding: 10px;
}

.text i{
    width: 30px;
    height: 20px;
}

.text input{
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.button{
    border: 2px solid ;
    border-color: skyblue;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
    font-size: 20px;
    color: aqua;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    cursor: pointer;
    transition: 0.8s;
}

.button:hover{
    color: white;
}

.button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: skyblue;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.button:hover::before{
    height: 100%
}

.LoginBox a{
    font-size: 17px;
    text-align: center;
}

