body{
    background-color: #101820FF;
    padding: 0;
    width: 100%;
    height: auto;
    min-width: 100%;
    max-height: 100%;
    max-width: 500px;
    margin: auto;
    font-family: "fantasy";
}

.navigation{
    color: #F2AA4CFF;
    background-color: #101820FF;
    font-size: 1.5vw;
    width: auto;
    display: flex;
    height: 4vw;
    border-bottom: #FEE715FF 0.4ch solid;
}

.navigation img{
    width: 2vw;
    height: 1.8vw;
    margin-left : 35%;
    margin-top: 0.7%;
}

.navigation p{
    font-size: 2vw;
}

.navigation li{
    font-size: 1vw;
    float: left;
    margin-top : 1%;
    margin-left : 17%;
    list-style-type: none;
}

.navigation li a{
    text-decoration: none;
    cursor: pointer;
    color: #F2AA4CFF;
}

.navigation h2{
    margin-left: 1%;
    font-size: 25px;
    margin-top: 1%;
}

.logout {
    text-decoration: none;
    cursor: pointer;
    color: #F2AA4CFF;
    font-size: 1.2vw;
    float: right;
    margin-left: 40%;
    margin-top: 0.6%;
}

.sidebar{
    height: 100%;
    width: 20%;
    background-color:  #FEE715FF;
    left: 0%;
    position: fixed;
    overflow-x: hidden;
    top: 7.5%;
}

.items{
    margin-top: 20%;
    padding-top : 5%;
    width: 100%;
    height: 8%;

}

.items:hover{
    background-color: ORANGE;
}

.sidebar a{
    font-family: Bahnschrift;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.active{
    margin-top: 30%;
    padding-top : 5%;
    width: 100%;
    height: 8%;
    background-color: ORANGE;
}

.main {
    overflow : visible;
    margin-left: 15%;
    height: 100%;
    color: white;
}

.reg-container{
    margin-left: 20%;
    height: 100%;
    color: white;
}

.reg{
    font-family: "Microsoft JhengHei Light";
    margin-top: 5%;
}

.title{
    text-align: center;
    color: black;
    background-color: #fee715ff;
    border-radius: 40px;
    padding: 10px 50px;
    width: 40%;
    height: auto;
    font-size: 25px;
    margin-top: 5%;
    font-family: Cursive;
}

.textbox{
    margin-top: 3%;
}

.textbox input{
    margin-top: 2%;
    padding : 20px;
    width: 100%;
    border: none;
    color: black;
    font-size: 14px;
    border-radius: 10px;
}

.middle{
    width: 100%;
    height: 100%;
    transform: translate(0%,50%);
    text-align: center;
}

.btn{
    color: #FEE715FF;
    background: none;
    border: 0.2vw solid #FEE715FF;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 0.4vw 1vw;
    min-width: 1vw;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    border-radius: 0.2vw;
}

.btn:hover{
    color: black;
}

.btn-2{
    margin-left: 15%;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FEE715FF;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
    transform: scaleX(0);
}
.btn1:hover::before{
    transform: scaleX(1);
}

.csv{
    margin-top: -4%;
    margin-left: 80%;
    font-size: 20px;
}

table {
    margin-top: 5%;
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}
th {
    background-color: #588c7e;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2}